{% extends 'base.html' %}

{% block head %}
{{ super() }}
{% endblock %}

{% block main_body %}

<div class="main-container">
    <div class="main-content">

        <div class="explainer-wrapper">
            <h1>How we use your data</h1>
            <img src="{{ url_for('static', filename='img/track-authentication.svg') }}" alt="Vault">
            <span class="tooltiptext" id="tooltiptext">Track resources</span>
        </div>

    </div>
</div>

{% endblock %}

{% block last_page %}
<a href="{{ url_for('setup_tfc') }}">
    <img src="{{ url_for('static', filename='img/right-arrow.svg') }}" alt="Last">
</a>
{% endblock %}